<title>ブログタイトル</title>
<h1>tanaka_blog</h1>
<hr>
<% blog.articles.each do |article| %>
  <%= time= article.date.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[article.date.wday]})") %>: <%= link_to article.title, host_url(article.url) %><br>
  <%= article.summary %>
  <%= link_to 'もっと読む', host_url(article.url)%>
  <hr>
<% end %>
